# Global registry settings
metrics-registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/

# Only for WodaX-Umi private --- reasons: for old projects before 2019.4
# You can publish your private package on ...
@wodaxprivate:registry=http://192.168.199.222:9999/repository/npm-group/
